
{% extends 'base.html' %}


{% block articles %}

<section class="bg-white dark:bg-gray-900 ">
    <div class="py-8 px-4 mx-auto  max-w-screen-xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Add a new article</h2>

            

        <form action="{% url 'comunication:create_article' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-5">
                {% if 'is' in field.label_tag %}
                <label  class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ field.label_tag }}</label>
                {% else %}
                <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> {{ field.label_tag }}</label>
                {% endif %}
                {{ field }}
                {% if field.errors %}
                    <p class="mt-4 text-sm text-red-600 dark:text-red-500">
                    {% for error in field.errors %}
                        <span class="block">{{ error }}</span>
                    {% endfor %}
                    </p>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-indigo-700 rounded-lg focus:ring-4 focus:ring-indigo-200 dark:focus:ring-indigo-900 hover:bg-indigo-800">
                Create
            </button>
        </form>
    </div>
  </section>
  {% endblock articles %}