

  <form action="{% url 'notebook:show_images' section_object.id %}" method="post" enctype="multipart/form-data" class="max-w-lg mx-auto">
    {% csrf_token %}
    {% for field in form %}
    {% if field.name == 'image_file' %}
    <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.label }}</label>
    <div class="relative w-full">
      {{ field }}   
      <button type="submit" class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <svg class="w-4 h-4 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"/>
          <path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
       </svg>
      </button>
    </div>
    {% else %}
    <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.label }}</label>
    {{ field }}
    {% endif %}
    {% if field.errors %}
        <p class="mt-4 text-sm text-red-600 dark:text-red-500">
        {% for error in field.errors %}
            <span class="block">{{ error }}</span>
            {% endfor %}
        </p>
    {% endif %}
  {% endfor %}
  </form>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
    {% for photo in image_queryset %}
    <div class="space-y-2">
      <h3 class="font-bold">{{photo.image_title}}</h3>
      <a href="{{photo.get_image_url}}" class="text-blue-600 font-medium" target="_blank">
        <img class="rounded-lg w-full" src="{{photo.get_thumbnail_url}}" alt="">
      </a>
        <p class="text-gray-600">{{photo.image_description}}</p>
        <p class="text-gray-600">Owner: {{photo.owner}}, pub: {{photo.add_date|date:"F j, Y"}}</p>
        <p class="text-gray-600"></p>
      <form action="{% url 'notebook:image_delete' photo.id %}" method="post">
          {% csrf_token %}
          <svg class="mr-1 w-3 h-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z" clip-rule="evenodd"></path><path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path></svg>
          {% if section_object.topic.user == request.user %}
          <input type="submit" value="Delete" >
          {% endif %}
      </form>
    </div>
    {% endfor %}
  </div>
